body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: #EBEBEB;
}

div { 
  font-family: 'Poppins', sans-serif;

}

p {
  font-weight: lighter;
}

.slider {
  width: 600px;
  height: 700px;
  overflow: hidden;
  position: absolute; 

}

input {
  display: none;
}

.slides {
  display: flex;
}

img {
  width: 600px;
  height: 500px;
}

.navigation-bar {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%);
  
}



