body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: #EBEBEB;
}

div { 
  font-family: 'Poppins', sans-serif;

}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  font-weight: lighter;
  margin-bottom: 30px;
}

.slider {
  width: 700px;
  height: 800px;
  overflow: hidden;
  position: absolute; 

}

input {
  display: none;
}

.slides {
  display: flex;
  text-align: center;
}



img {
  width: 700px;
  height: 550px;
}

.navigation-bar {
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translate(-50%);
  
}

.checklist-btn {
  border: 1px solid #000000;
  margin: 15px;
}

.buttons-screen{   
  justify-content: center;
  
}
.buttons-screen button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  
  
  
  

}
.btn-continue {
  
  
  

  
  
}



